{erl_opts, [
%% 调试信息
    debug_info,
%% 头文件目录
    {i, "include"},
%% 源代码目录
    {src_dirs, ["src"]},
%% Lager 日志框架编译选项
    {parse_transform, lager_transform}
]}.
%% {eunit_opts, []}.
%% {eunit_compile_opts, []}.
%% {eunit_first_files, []}.
%% 代码覆盖率
%% {cover_enabled, true}.
%% {cover_print_enabled, false}.
%% {cover_export_enabled, false}.
%% {validate_app_modules, true}.

%% 依赖库文件目录,按照需要修改
%% {deps_dir, "deps"}.
%% 依赖库文件
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
%%     {proper, ".*", {git, "git://github.com/manopapad/proper.git", {branch, "master"}}},
%%     {luerl, ".*", {git, "git://github.com/rvirding/luerl.git", {branch, "master"}}}
%%     ,{piqi, "", {git, "git://github.com/alavrik/piqi-erlang.git", {branch, "master"}}}
]}.
%% 子目录
{sub_dirs, ["rel"]}.
